<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Review 1</title>
    <link rel="stylesheet" href="../Css/postLists.css" />
  </head>

  <body>
    <nav id="NavbarContainer" class="navbarContainer">
      <div id="NavbarLogo" class="navbarLogo">
        <h1>NavBar</h1>
      </div>
      <div id="NavbarMenu" class="navbarMenu">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Blog</a>
      </div>
    </nav>

    <main id="HeroSection" class="HeroSection">
      <h1>Halaman Blog</h1>
      <article class="postList1">
        <h3><a href="./singlePost1.html">Judul Halaman 1</a></h3>
        <h5>By: XiaoLongEr</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, maiores
          non? Omnis saepe aperiam nisi consequuntur, asperiores autem
          accusantium enim!
        </p>
      </article>
      <article class="postList2">
        <h3><a href="./singlePost2.html">Judul Halaman 2</a></h3>
        <h5>By: Vincentius</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod labore
          reiciendis unde esse ex ab.
        </p>
      </article>
    </main>

    <section id="ProductContainer" class="productContainer"></section>
  </body>
</html>
