<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Css/singlePost.css" />
    <title>Post 1</title>
  </head>
  <body>
    <nav id="NavbarContainer" class="navbarContainer">
      <div id="NavbarLogo" class="navbarLogo">
        <h1>NavBar</h1>
      </div>
      <div id="NavbarMenu" class="navbarMenu">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Blog</a>
      </div>
    </nav>

    <section id="HeroSection" class="HeroSection">
      <article class="postList1">
        <h3>Judul Halaman 1</h3>
        <h5>By: XiaoLongEr</h5>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum libero
          ipsum eaque incidunt iste quos ut doloremque non praesentium, iusto
          dignissimos rerum excepturi, placeat dolor aliquid. Cum, voluptatibus
          consequuntur. Aliquid ab consequatur esse cum tempore accusantium
          possimus saepe! Alias adipisci quae repellat natus est illum
          voluptatibus corrupti amet nisi quibusdam?
          <br />
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem nam,
          minima nemo velit ab sed quaerat nisi unde at consequatur iure, saepe
          harum perferendis illo? Excepturi, ipsa alias! Aperiam pariatur
          accusamus illo at, deserunt non sed aspernatur dignissimos fuga earum.
        </p>
      </article>
    </section>
  </body>
</html>
