<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Css/singlePost.css" />
    <title>Post2</title>
  </head>
  <body>
    <nav id="NavbarContainer" class="navbarContainer">
      <div id="NavbarLogo" class="navbarLogo">
        <h1>NavBar</h1>
      </div>
      <div id="NavbarMenu" class="navbarMenu">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Blog</a>
      </div>
    </nav>

    <section id="HeroSection" class="HeroSection">
      <article class="postList1">
        <h3>Judul Halaman 2</h3>
        <h5>By: Vincentius</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium,
          culpa sit, iure necessitatibus cumque quas similique quidem laborum
          vitae omnis perferendis corrupti odit amet ipsum labore ipsa, ullam
          pariatur debitis? Maxime, incidunt facilis. Dicta ad autem quo saepe
          delectus optio. Culpa nam fuga assumenda, recusandae consectetur unde,
          accusantium sapiente facere deleniti pariatur est animi repudiandae
          minus necessitatibus quas quia quaerat molestias sequi magnam id
          quidem itaque officiis? Ab enim nemo porro nostrum eveniet et iusto
          pariatur praesentium reprehenderit ipsam!
          <br />
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. At hic
          possimus quas, est sit odio quos omnis dolores nulla perferendis
          fugiat praesentium voluptatibus, voluptas eum consequuntur minus earum
          similique? Esse, asperiores! Enim explicabo nobis quae velit
          voluptates. Delectus recusandae laborum blanditiis deserunt nemo
          aliquid architecto nobis necessitatibus nostrum exercitationem dolor
          at, voluptatum quod est voluptatem? Facere porro officiis optio quo
          magni recusandae assumenda ratione fuga! Recusandae sint error tempora
          inventore minima? Officia, facilis expedita!
        </p>
      </article>
    </section>
  </body>
</html>
